body {
  background-color: rgba(71, 71, 71, 0.897);
}

h1.center {
  text-align: center;
  color: rgba(17, 17, 17, 0.438);
  font-family: 'Fira Mono', monospace;
  font-size: 85px;
}
h3.center {
  text-align: center;
  color: rgba(255, 255, 255, 0.521);
  font-family: 'Fira Mono', monospace;
  font-size: 30px;
}
p.center {
  text-align: center;
  color: rgba(255, 255, 255, 0.521);
  font-family: 'Fira Mono', monospace;
  font-size: 30px;
}